<section id="networkMobile" class="c-network-menu">
  <%= render 'mobile_network' %>

  <div class="c-claim -primary -smaller">
    <h1 class="js-action-network">The GO Map</h1>
  </div>
</section>

<section class="l-app -main -home -full">
  <div class="l-app-map">
    <%= link_to map_path do %>
      <div id="map" class="c-map"></div>
    <% end %>
  </div>
  <div class="l-app-claim">
    <div class="c-claim">
      <p>
        The GO Map is a free tool that helps users initiate partnerships,
        promote their work and develop collaborations in cancer control.
      </p>
      <div class="c-claim-buttons">
        <%= link_to 'Login', user_session_path, class: 'c-btn -primary'%>
        <%= link_to 'Sign Up For Free', '/users/sign_up', class: 'c-btn -primary'%>
      </div>
    </div>
  </div>
  <% if !browser.device.mobile? %>
    <div class="l-app-bottombar">
      <div id="counters">
        <%= render 'home/counters' %>
      </div>
    </div>
  <% end %>
</section>
<!--
<% if browser.device.mobile? %>
  <section>
      <div class="l-app-bottombar">
        <div id="counters">
          <%= render 'home/counters' %>
        </div>
      </div>
  </section>
<% end %>
-->
