
<% if params[:q] %>
  <% title "Blog Search for " + params[:q] %>
<% else %>
  <% title "Blog Posts" %>
<% end %>
<div class="l-content posts-index">
  <div class="wrapper">
    <div class="row collapse">
      <div class="column small-9">
        <h1 style="float:left;">Blog</h1>
          <%= link_to('+ Post', (user_signed_in?) ? new_post_path : user_session_path, :class => 'c-btn -secondary -inverse', :style => 'float: right') %>
      </div>
    </div>
    <p class="lead">The latest cancer news and updates from around the world.</p>
    <div class="row collapse">
      <div class="column small-9">
        <div id="posts-list"><%= render(partial: "all_posts_list", locals: {items: @items, more: @more}) %></div>
      </div>
      <div class="column small-3">
        <%= render "search" %>
        <%= render "cta" %>
        <%= render "social-nav" %>
      </div>
    </div>
  </div>
</div>
