<% title @post.title %>
<% investigator = User.find_by_id(@post.user_id) %>
<% content_for :description do %><%= strip_tags(@post.body).strip().truncate(120) %><% end %>
<% content_for :social_meta_tags do %>
  <!-- opengraph tags -->
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="<%= strip_tags(@post.title) %>" />
  <meta property="og:description" content="<%= strip_tags(@post.body).truncate(255).strip() %>" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:site_name" content="The GO Map" />
  <!--<meta property="og:image" content="" />-->
  <!-- twitter tags -->
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="<%= strip_tags(@post.title) %>"/>
  <meta name="twitter:description" content="<%= strip_tags(@post.body).truncate(255).strip() %>"/>
  <meta name="twitter:site" content="@globalonc"/>
  <!--<meta name="twitter:image" content=""/>-->
  <% if investigator.twitter_account.present? %>
  <meta name="twitter:creator" content="@<%= investigator.twitter_account %>" />
  <% end %>
<% end %>
<div class="l-grid">
  <section class="l-content-section wrapper">
    <div class="wrapper">
      <div class="row">
        <div class="column small-12">
          <h2><%= @post.title %></h2>
        </div>
      </div>
      <div class="row">
        <div class="column small-12 medium-8 align-middle">

          <%= link_to user_path(:data => 'network', :id => investigator.id), class: 'investigator' do %>
            <% if investigator.avatar.present? %>
               <div class="c-avatar -ph -small -no-bg"
                   style="background-image: url(<%= investigator.avatar_url(:thumb) %>)">
              </div>
            <% else %>
               <div class="c-avatar -ph -small">
                <%= render 'shared/placeholder', person: investigator, size: '-av-big' %>
              </div>
            <% end %>
            <p><%= investigator.present? && investigator.try(:name) %></p>
          <% end%>

        </div>
        <div class="column small-12 medium-4 -align-right">
          <button class="c-btn -secondary -inverse -mg-left js-share-button" data-actiona="save"><%= t 'share' %></button>
        </div>
      </div>
      <div class="column small-12 align-middle">
        <p>Last update: <%= @post.updated_at.strftime("%Y-%m-%d") %></p>
      </div>
    </div>
  </section>

  <section class="l-content-section wrapper">
    <div class="wrapper">
      <div class="row">
        <div class="column small-12">
          <div class="wrapper">
            <div class="content"><%= @post.body.html_safe %></div>
            <% if current_user && current_user.id === @post.user_id %>
              <%= link_to 'Edit', edit_post_path(@post), class: 'c-btn -secondary' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
